  body {
  font-size: calc(27px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}
  a:link {
  color: black;	
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
.box {
  border: 6px solid #000;
  padding: 1px;
  width: 400px;
}
.image {
  width: 100%;
  max-width:400px;
  height: auto;
  max-height:400px;
  height: 50vw;
}
.txt {
  border-top: 6px solid #000;
}
