body {
  font-family: Arial, Helvetica, sans-serif;
}

#matches {
  border-collapse: collapse;
  width: auto;
}

#matches td, #matches th {
  border: 1px solid #ddd;
  padding: 8px;
  align-self: center;
}
#matchess tr:nth-child(even){background-color: #f2f2f2;}

#matches tr:hover {background-color: #ddd;}

#matches th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#app {
  font-family: "Lucida Console", "Courier New", monospace;
  width: auto;  
  max-width: 800px;
  background-color: #8B0000;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;  
  cursor:pointer;
}
